.TakerTokenAmount {
  ._text {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgba(73, 73, 74, 0.90);

    letter-spacing: 1px;
    text-align: center;
  }

  input {
    @extend ._text;

    max-width: 100%;
    border-radius: 2px;
    padding: 8px;
    height: 32px;
    border: 1px solid #DEE4F4;
  }

  ::-webkit-input-placeholder {
    @extend ._text;
    font-size: 11px;
    text-transform: uppercase;

    color: rgba(73, 73, 74, 0.90);
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .Errors {
    visibility: hidden;
    text-align: center;
    height: 20px;
    border: 1px solid #FF928D;
    padding: 3px 0;
    font-size: 12px;
    letter-spacing: 1px;
    border-bottom: none;
    color: #FF928D;
    background-color: #FFE7E6;
  }
  &.TakerTokenAmount--hasErrors {
    border-color: #FF928D !important;
    input {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-color: #FF928D !important;
    }


    .Errors {
      visibility: visible;
    }
  }
}